@import '../variables.scss';

// Tabs
.nav-tabs {
	border-color: $colorBlack;
	.nav-link {
		text-transform: uppercase;
		margin-bottom: -1px !important;
		background-color: $colorGreyLight;
		border-color: $colorBlack;
		border-bottom-color: transparent;

		&:hover {
			background-color: darken($colorGreyLight, 5%);
			border-color: $colorBlack $colorBlack #fff;
		}

		&.active {
			background: $colorGreyLight;
			color: $colorBlack;
			border-color: $colorBlack $colorBlack #fff;
		}
	}
}
	
.tab-pane {
	padding: 25px 15px;
	border: 1px solid $colorBlack;
	border-top: 0;

	:last-child {
		margin-bottom: 0;
	}
}